{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'local_1755355140.css' %}" />
<link rel="copyright" href="#page_copyright" />
<link rel="license" href="#page_license" />
<title>SPI - {% block title %}{% endblock %}</title>
</head>
<body>

<div class="page">

<div class="pageheader">

<div class="header">
<span>
<span class="parentlinks"></span>
<a href="/"><span class="title">SPI</span></a>
</span>
</div>

</div>

<div class="sidebar">
<ul>
<li><a href="https://www.spi-inc.org/">Main SPI Website</a></li>
<li><a href="{{ PGLISTER_URL }}">Mailing Lists</a></li>
{% if REIMBURSEMENTS_URL %}
<li><a href="{{ REIMBURSEMENTS_URL }}">Reimbursements</a></li>
{% endif %}
<hr />
{% if request.user.is_authenticated %}
<li><a href="/">Membership Info</a></li>
<li><a href="/account/profile/">Profile</a></li>
{% if user.iscontrib %}
<li><a href="/votes">Votes</a></li>
{% endif %}
{% if user.createvote %}
<li><a href="/vote/create">Create Vote</a></li>
{% endif %}
<li><a href="{{ CHANGEPASSWD_URL }}">Change Password</a></li>
<li><a href="{{ LOGOUT_URL }}">Logout</a></li>
    {% if user.ismanager %}
        <hr />
        <li><a href="/applications/all">All Applications</a></li>
        <li><a href="/applications/nca">Non-Contributing Applications</a></li>
        <li><a href="/applications/ncm">Non-Contributing Members</a></li>
        <li><a href="/applications/ca">Contributing Applications</a></li>
        <li><a href="/applications/cm">Contributing Members</a></li>
        <li><a href="/applications/mgr">Application Managers</a></li>
    {% endif %}
{% else %}
<li><a href="{{ LOGIN_URL }}">Login</a></li>
<li><a href="{{ SIGNUP_URL }}">New Member Application</a></li>
<li><a href="{{ RESETPASSWD_URL }}">Password Reset</a></li>
{% endif %}
<li><a href="/stats">Statistics</a></li>
</ul>
</div>

<div id="pagebody">
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
<div id="content">
{% block content %}{% endblock %}
{% block contents %}{% endblock %}
</div>
</div>

<div id="footer" class="pagefooter">

<div id="pageinfo">

<div class="pagecopyright">
<a name="pagecopyright"></a>
Copyright © 2023 Software in the Public Interest, Inc.
<br />
Source code available at
<a href="https://gitlab.com/spi-inc/members">https://gitlab.com/spi-inc/members-django</a>,
license GPL2+, patches welcome!
</div>

<div class="pagelicense">
<a name="pagelicense"></a>
License: GPLv2
</div>

<div class="pagedate">
Last edited <span class="date">2023-03-24</span>
</div>

</div>

</div>
</div>
{%block extrascript%}{%endblock%}
</body>
</html>
