        <table class="applications">
            <tr><th>Appl Date</th><th>Status</th><th>Applicant</th><th>App#</th><th>Manager</th></tr>
        {% for application in applicants %}
            <tr>
                <td>{{ application.appdate|date:"Y-m-d" }}</td>
                <td>{{ application.get_status }}</td>
                <td>{{ application.member.name }} &lt;<a href="/member/{{ application.member.memid_id }}">{{ application.member.email }}</a>&gt;</td>
                <td><a href="/application/{{ application.appid }}">{{ application.appid }}</a></td>
                <td>{{ application.manager.name }}</td>
            </tr>
        {% endfor %}
        </table>
