{% extends "base.html" %}
{% block title %}Membership Status{% endblock %}
{% block content %}
    <h1>Membership status for {{ user.name }} &lt;{{ user.email }}&gt;</h1>
    <form method="post" action="/member/edit">
    {% csrf_token %}
    <table>
        <tr><td>Name</td><td>{{ user.name }}</td></tr>
        <tr><td>Email address</td><td>{{ user.email }}</td></tr>
        <tr><td>Member Since</td><td>{{ user.firstdate }}</td></tr>
        <tr><td>Current Member</td><td>
            {% if user.ismember %} Yes {% else %} No {% endif %}
        </td></tr>
        <tr><td>Application Manager</td><td>
            {% if user.ismanager %} Yes {% else %} No {% endif %}
        </td></tr>
        <tr><td>Contrib Member</td><td>
            {% if user.iscontrib %} Yes {% else %} No {% endif %}
        </td></tr>
{% if user.iscontrib %}
        <tr><td>spi-private subscription</td><td>
            {{ form.sub_private }}
        </td></tr>
        <tr><td>Last active</td><td>{{ user.lastactive }} (<a href="/updateactive">Update</a>)</td></tr>
{% endif %}
        <tr><td colspan="2"><input type="submit" value="Update Details" /></td></tr>
    </table>
<br />
{% if user.iscontrib %}
    {% if votes %}
        <h1>Active votes</h1>
        <ul>
        {% for vote in votes %}
            <li><a href="/vote/{{ vote.voteid }}">{{ vote.title }}</a>
                (ends {{ vote.end }})</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if votes2 %}
        <h1>Your votes</h1>
        <ul>
        {% for vote in votes2 %}
            <li>
            {% if vote.is_active %}
                <a href="/vote/{{ vote.voteid }}">{{ vote.title }}</a>
                (ends {{ vote.end }})
            {% elif vote.is_over %}
                <a href="/vote/{{ vote.voteid }}/result">{{ vote.title }}</a>
                (ended)
            {% else %}
                <a href="/vote/{{ vote.voteid }}/edit">{{ vote.title }}</a>
                (starts {{ vote.start }})
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% if applications %}
<h1>Your Applications</h1>
    {% for application in applications %}
        {% if not application.contribapp %}Non-{% endif %}Contributing application
        <a href="/application/{{ application.appid }}">#{{ application.appid }}</a> from
        {{ application.appdate }}
        {% if application.approve %}(complete){% endif %}
        <br />
    {% endfor %}
{% endif %}
{% if not user.ismember %}
<p>You have not yet verified your email address and are thus not yet a member of
SPI. Once you have received the welcome email please use the code to
<a href="/verifyemail">verify</a> it.</p>
{% elif not user.iscontrib and not contribapp %}
<a href="/apply/contrib">Apply</a> for contributing membership. Please apply
only if you belong to one of these groups:
<ul>
<li>active members of SPI associated projects</li>
<li>active members of any large free software development project</li>
<li>any person who has made a significant contribution to the free software community</li>
<li>any person who actively contributes to the free software community</li>
</ul>
{% endif %}
{% if user.ismanager %}
  <h1>Your Applicants</h1>
  {% include "application-list.html" %}
{% endif %}
{% endblock %}
