{% extends "base.html" %}
{% block title %}Edit Vote{% endblock %}
{% block content %}
    <h1>Edit Vote</h1>

    <form method="post" action="{% url 'voteeditedit' vote_ref %}">
    {% csrf_token %}

    <table>
    {{ editvoteform.as_table }}
    </table>

    <input type="submit" name="vote-btn" value="Edit" />
    <input type="submit" name="vote-btn" value="Delete" />
    </form>

    <h2>Edit Ballots</h2>

    {% for editvoteformballot in editvoteformballots %}
    <form method="post" action="{% url 'voteeditballot' editvoteformballot.ballot_ref %}">
    {% csrf_token %}
    <table>
      {{ editvoteformballot.form.as_table }}
      <tr>
        <td>
          <button type="submit" name="ballot-btn" value="Edit">Edit ballot</button>
        </td>
      </tr>
    </table>
    </form>
    {% endfor %}

{% endblock %}
