{% extends "base.html" %}
{% block title %}Edit Vote{% endblock %}
{% block content %}
    <h1>Edit Vote</h1>

    <form method="post" action="{% url 'voteeditedit' vote_ref %}">
    {% csrf_token %}

    <table>
    {{ editvoteform.as_table }}
    </table>

    <input type="submit" name="vote-btn" value="Edit" />
    <input type="submit" name="vote-btn" value="Delete" />
    </form>

    {% if not runnable %}
      <p>
        Caution: the election is not runnable yet (no ballot, or all ballots don't have at least 2 configured options)
      </p>
    {% endif %}

    <h2>Edit Ballots</h2>

    {% for editvoteformballot in editvoteformballots %}
      <div class="ballot">
        <form method="post" action="{% url 'voteeditballot' editvoteformballot.ballot_ref %}">
          {% csrf_token %}
          <table>
            {{ editvoteformballot.form.as_table }}
            <tr>
              <td>
                <button type="submit" name="ballot-btn" value="Edit">Edit ballot</button>
                <button type="submit" name="ballot-btn" value="Delete">Delete ballot</button>
              </td>
            </tr>
          </table>
        </form>

        <table>
          <tr><th>Selection character</th><th>Option text</th><th></th></tr>
          {% for of in editvoteformballot.existingvoteoptions %}
            <form method="post" action="{% url 'voteeditoption' editvoteformballot.ballot_ref %}">
              {% csrf_token %}
              <tr>
                <td><span class="voteoptioncharacter">{{ of.option_character }}</span></td>
                <td><span class="voteoptiondescription">{{ of.description }}</span></td>
                <td>{{ of.sort.as_hidden }}</td>
                <td>
                  <input type="submit" name="obtn" value="Edit" />
                  <input type="submit" name="obtn" value="Delete" />
                </td>
              </tr>
            </form>
          {% endfor %}
          <form method="post" action="{% url 'voteeditoption' editvoteformballot.ballot_ref %}">
            {% csrf_token %}
            <tr>
              <td><span class="voteoptioncharacter">{{ editvoteformballot.voteoptionform.option_character }}</span></td>
              <td><span class="voteoptiondescription">{{ editvoteformballot.voteoptionform.description }}</span></td>
              <td>{{ editvoteformballot.voteoptionform.sort.as_hidden }}</td>
              <td><input type="submit" name="obtn" value="Add" /></td>
            {# Last entry is for creating a new option #}
            </tr>
          </form>
        </table>
      </div>
    {% endfor %}

    <h2>Add Ballot</h2>
    <form method="post" action="{% url 'voteeditedit' vote_ref %}">
    {% csrf_token %}
      <table>
        {{ createvoteformballot.as_table }}
      </table>
      <tr>
        <td>
          <input type="submit" name="vote-btn" value="Create ballot">
        </td>
      </tr>
    </form>

{% endblock %}
