{% extends "base.html" %}
{% block title %}Edit Vote{% endblock %}
{% block content %}
    <h1>Edit Vote</h1>

    <form method="post" action="{% url 'voteeditedit' vote_ref %}">
    {% csrf_token %}

    <table>
    {{ editvoteform.as_table }}
    </table>

    <input type="submit" name="vote-btn" value="Edit" />
    <input type="submit" name="vote-btn" value="Delete" />
    </form>


    <table>
    <tr><th>Selection character</th><th>Option text</th><th></th></tr>
    {% for of in existingvoteoptions %}
    <form method="post" action="{% url 'voteeditoption' vote_ref %}">
    {% csrf_token %}
    <tr>
      <td><span class="voteoptioncharacter">{{ of.option_character }}</span></td>
      <td><span class="voteoptiondescription">{{ of.description }}</span></td>
      <td>{{ of.sort.as_hidden }}</td>
      <td>
        <input type="submit" name="obtn" value="Edit" />
        <input type="submit" name="obtn" value="Delete" />
      </td>
    </tr>
    </form>
    {% endfor %}
    <form method="post" action="{% url 'voteeditoption' vote_ref %}">
    {% csrf_token %}
    <tr>
      <td><span class="voteoptioncharacter">{{ voteoptionform.option_character }}</span></td>
      <td><span class="voteoptiondescription">{{ voteoptionform.description }}</span></td>
      <td>{{ voteoptionform.sort.as_hidden }}</td>
      <td><input type="submit" name="obtn" value="Add" /></td>
    {# Last entry is for creating a new option #}
    </tr>
    </form>

    </table>
    </form>

{% endblock %}
