{% extends "base.html" %}
{% block title %}Votes{% endblock %}
{% block content %}
    <p>Welcome to the election pages of Software in the Public Interest, Inc.
    These pages are used to vote in SPI elections.</p>

    <ul>
        {% for vote in votes %}
            {% if vote.owner == user and not vote.is_active and not vote.is_over %}
        <li><a href="/vote/{{ vote.ref }}/edit">{{ vote.title }}</a> (ends {{ vote.period_stop|date:"Y-m-d H:i:s" }} UTC)</li>
            {% elif vote.is_over %}
        <li><a href="/vote/{{ vote.ref }}">{{ vote.title }}</a> (ended {{ vote.period_stop|date:"Y-m-d H:i:s" }} UTC)
          {% if vote.public_results %}
              <a href="/vote/{{ vote.ref }}/result">Full results</a></li>
          {% endif %}
            {% else %}
        <li><a href="/vote/{{ vote.ref }}">{{ vote.title }}</a> (ends {{ vote.period_stop|date:"Y-m-d H:i:s" }} UTC)</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
