{%extends "base.html"%}
{%block title%}Your account{%endblock%}
{%block contents%}
<h1>Your account <i class="far fa-address-card"></i></h1>
<p>
From this section, you can manage all information on this site connected
to your SPI community account. Other than your basic profile
information, this includes news and events, professional services and
comments. Note that most of the data you submit to this site needs to be
approved by a moderator before it's published.
</p>
<p>
To submit a new record, or to edit an existing record, select the
type of record in the menu on the left.
</p>

{%endblock%}
